{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li class="masthead__menu-item persist">
            {% if page.lang == 'ja' %}
              <a href="{{ page.url | replace: '/ja/', '/' }}" style="text-decoration: none;">EN</a> <span style="margin: 0 0.2em;">|</span> <span style="font-weight: bold;">日本語</span>
            {% elsif page.lang == 'en' %}
              <span style="font-weight: bold;">EN</span> <span style="margin: 0 0.2em;">|</span> <a href="/ja{{ page.url }}" style="text-decoration: none;">日本語</a>
            {% else %}
              <span style="font-weight: bold;">EN</span> <span style="margin: 0 0.2em;">|</span> <a href="/ja/" style="text-decoration: none;">日本語</a>
            {% endif %}
          </li>
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>